
.imagebox img{
    width: 100%;
}

.post_li {
    float: left;
    width: 170px;
    margin: 0 4% 0 0;
}

input[type=file]{
    display: none;
}


#fileforbutton, #fileforbutton1{
    background: #eee;
    color: #333;
    border-radius: 5px;
    border-color: #888;
    margin: 10px 0 0 0;
    padding: 5px;
}
.imagebox_sub ul li {
    width: 30%;
    margin-right: 5% !important;
    margin-bottom: 5%;
    float: left;
    position: relative;
}

.imagebox_sub ul li:nth-child(3n) {
    margin-right: 0 !important;
}

.imagebox_sub ul {
    overflow: hidden;
    clear: both;
}

.imagebox {
    margin: 15px 0 0 0 !important;
}

.imagebox_sub {
    margin: 15px 0 0 0 !important;
}

@media only screen and (max-width: 736px){
    .imagebox_sub ul li {
        width: 48%;
        margin-right: 4% !important;
        margin-bottom: 4%;
        float: left;
        position: relative;
    }

    .imagebox_sub ul li:nth-child(3n) {
        margin-right: 4% !important;
    }

    .imagebox_sub ul li:nth-child(2n) {
        margin-right: 0 !important;
    }

    .modal-wrap{
        margin: 5% !important;
        transform: translateX(0) !important;
        left: auto !important;
        padding: 0 !important;
    }

    .modal-content > div {
        max-width: 640px !important;
        margin: 15px !important;
        position: relative !important;
        box-sizing: border-box !important;
    }
}

.modal-content{
    display: none;
}

.modal-content > div ul li img {
    width: 100%;
    height: 120px;
}


.avail_time, .post_time{
    width: 60px;
    display: inline-block;
}

.post_time_h{
    width: 60px;
    display: inline-block;
    margin-left: -36px;
}

.avail_one{
    width: 12px;
    display: inline-block;
}
.available{
    display: inline-block;
}

.post_date{
    display: inline-block;
    width: 130px;
}

.calendar-wrap input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-right: 10px;
    padding: 6.5px;
    background: #eee;
    border: 1px solid #eee;
    border-radius: 7px;
    width: 70%;
    box-sizing: border-box;
}

.calendar-datetime input {
    width: 100%;
}

.calendar-wrap label,
.calendar-wrap span {
    display: flex;
    vertical-align: middle;
}

table.table th{
    padding: 10px 15px 5px 10px !important;
    margin-bottom: 0;
    font-size: 0.7rem;
    color: #666;
}

tbody tr {
    border-bottom: 1px solid #EEE;
}

tbody td {
    margin-bottom: 10px;
}

#list_reason{
    white-space: pre-wrap;
}

input[type=number] {
    width: 60px;
    text-align: right;
}
.no_msg{
    text-align: center;
}

.modal-content{
    left: 20px !important;
    top: 115px !important;
}

.modal-wrap { 
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    width: 90%;
    height: 90%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    background: #FFF;
    box-sizing: border-box;
    border-radius: 7px;
    max-width: 736px;
    transform: translateX(-50%);
    margin: 50px 0;
    padding: 50px;
}

.modal-close{
    cursor: pointer;
    background: #9E1F63;
    color: #FFF;
    border: 2px solid #9E1F63;
    border-radius: 7px;
    padding: 15px 6px 10px 15px;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    transition: all 0.3s ease-in;
    font-size: 1rem;
    box-sizing: border-box;
    margin: 25px auto 0 auto;
    width: 100%;
}

.textarea{
    z-index: 0 !important;
}
