.imagebox_sub ul li {
    width: 24%; 
    margin-right: 1% !important; 
    margin-bottom: 3%;
    float: left;
    position: relative;
}

.imagebox_sub ul li:nth-child(4n) {
    margin-right: 0 !important;
}

.imagebox_sub ul {
    overflow: hidden;
    clear: both;
}

.imagebox_main img{
    border-radius: 10px; 
    width: 55%;
}
.imagebox_main {
    margin: 15px 0 0 0 !important;
}

.imagebox_sub {
    margin: 15px 0 0 0 !important; 
}

.imagebox_sub img{
    border-radius: 10px;
    height: 120px;
    width: 100%;
}